*.pyc
*.kate-swp
*.blend1
nohup.out
/webapp/linux-minetest-kit.zip
/webapp/linux-minetest-kit
/webapp/linux-minetest-kit-poikilos-patch
/webapp/screenshots
/webapp/program.log
/webapp/WIP
/webapp/debug.txt
/webapp/settings-dump.txt
/webapp/settingtypes-list.txt
err.txt
*.continuified.tmp
