*.pyc
*.kate-swp
/nohup.out
/webapp/linux-minetest-kit.zip
/webapp/linux-minetest-kit
/webapp/linux-minetest-kit-poikilos-patch
/webapp/screenshots
/webapp/program.log
/webapp/WIP
/webapp/debug.txt
/patches/Bucket_Game-patched/mods/codermobs/codermobs/src/elk.blend1
