*.pyc
*.kate-swp
*.blend1
nohup.out
/webapp/linux-minetest-kit.zip
/webapp/linux-minetest-kit
/webapp/linux-minetest-kit-poikilos-patch
/webapp/screenshots
/webapp/program.log
/webapp/WIP
/webapp/debug.txt
/webapp/settings-dump.txt
/webapp/settingtypes-list.txt
err.txt
*.continuified.tmp
linux-minetest-kit.zip
/containers/lmk.devuan-chimaera/install-minetest-build-deps.sh
/docker/lmk-libraries.devuan-chimera/install-minetest-build-deps.sh
/docker/libraries-devuan-chimera/install-minetest-build-deps.sh
/docker/libraries-devuan-chimaera/install-minetest-build-deps.sh
/debug.txt
linux-minetest-kit/
/projects-local/*
!/projects-local/copy_projects_to_here.txt
