<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
<div class="row">
    <div class="col-sm-8">
        <div class="jumbotron">
            <h1>EnlivenMinetest</h1>
            <p>Getting Started.</p>
            <h2>&nbsp;<!--result--></h2>
            <p><%= msg %></p>
        </div>
        <div>

<h2>Vegetable Farming</h2>
<ul>
<li>Super glow glass allows plants to grow without sunlight</li>
<li>Grass sometimes yields wheat seeds</li>
<li>Plants in the wild may be vegetables that you can eat or replant to multiply them.</li>
</ul>
<h2>Animal Farming</h2>
<ul>
<li>Keep feeding the correct food to an animal to tame it. For currently-known taming info not displayed here, see the enhancement request for this webapp (the request has the taming info shown already) at <a href="https://github.com/poikilos/EnlivenMinetest/issues/88">Taming Guide</a></li>
<li>A nametag names a tamed animal.</li>
<li>A Mob Protection Rune prevents an animal from being killed.</li>
<li>There is a known issue with animals despawning: see <a href="https://github.com/poikilos/EnlivenMinetest/issues/3">Neutral Mobs Despawn Frequently</a> issue on GitHub.com/EnlivenMinetest to track this issue.</li>
</ul>
<h2>Mining</h2>
<h3>Maximum Mining Depths</h3>
You must go below the maximum to get the material. Many materials also have a deeper level below which they are more common.
<table class="table">
    <thead>
        <tr>
        <th>Maximum</th>    <th>Common</th> <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <td>-256</td>       <td></td>       <td>Lava</td>
        </tr>
    </tbody>
</table>
<h2>Protecting Your Builds and Items</h2>
<ul>
<li>Protector blocks protect your area from other players</li>
<li>You can add other players to your protection block by name.</li>
<li>Protected chests &amp; doors: Anyone who is on the protection block can use them.</li>
<li>Locked chests &amp; doors: Only the person who placed them can use them, unless a key is made and given to another player (use skeleton key on a locked target to change the skeleton into a key for the target you're opening).</li>
<li>Your bones hold your items when you die. After one hour, other players can take the items.</li>
<li><b>Moderators</b> may not be able to recover your items regarding unprotected areas or items, since proving ownership or where items ended up may be difficult or impossible. Always make sure anything you want to keep is protected.</li>
</ul>
<h2>Issues</h2>
<b>Only if your server uses ENLIVEN</b>, report issues at <a href="https://github.com/poikilos/EnlivenMinetest/issues">github.com/poikilos/EnlivenMinetest/issues</a> and include a screenshot (F12 saves screenshot to the minetest/bin folder). You can often show what node the item is by pointing at it and turning on the debug screen with F5. Otherwise, report them to a moderator of your server (if you report it to a moderator first, the issue is likely to be resolved faster).
<h2>Minetest Settings</h2>
All of the settings below can be followed from the Minetest Settings tab (exit to menu if you are in-game, then click Settings).
<h3>Brightness</h3>
All Settings, Graphics, In-Game, Advanced, "Light Curve Mid Boost = 0.5" (default 0.2).
(recommended when using Filmic Tone Mapping (In-game, Shaders, Tone
Mapping, Filmic tone mapping), which makes dark areas almost black in
caves where there is no moonlight. Caves are dark. Make torches.
Changing your settings so you can mine in the dark is "cheaty." Doing
things that are "cheaty" lead to an immature pointless game of getting
more blocks than anyone else. Make a cool mine with cool torches.

<h3>Screenshot Location &amp; Format</h3>
All Settings, Graphics, Menus, then change "Screenshot folder" and "Screenshot format" if desired (recommended: make a Screenshots directory in your computer's Pictures folder and use that, and use jpg format to save space).
        </div>
    </div>
</div>
<h3>Feature Requests</h3>
If you feel like something is lacking such as features found in other games, <b>and your server uses ENLIVEN</b>, consider visiting the <a href="https://github.com/poikilos/EnlivenMinetest/issues/58">Not in Minetest - Feedback Forum</a> issue on the EnlivenMinetest GitHub project. Otherwise, contact a moderator of your server (you can still visit the link to get an idea of what mods are available for Minetest servers).

</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>
