<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="jumbotron">
        <h1>EnlivenMinetest</h1>
        <p></p>
        <h2>&nbsp;<!--result--></h2>
        <p><%= msg %></p>
    </div>
<div style="color:gray" id="statusArea"></div>
<canvas id="myCanvas" width="100" height="1540"> <!--style="border:1px solid #c3c3c3;">-->
Your browser does not support the canvas element.
</canvas>
<div style="color:gray" id="outputArea">loading...</div>
<script src="js/main.js"></script>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>
