#!/bin/bash
contained_repos=/opt
contained_arc="$contained_repos/linux-minetest-kit.zip"
# ^ This must always be in sync with "COPY linux-minetest-kit.zip /opt" in Dockerfile
contained_repo=$contained_repos/linux-minetest-kit
contained_user=minebest
contained_home=/home/$contained_user
if [ "@$SRC_URL" = "@" ]; then
    SRC_URL="https://downloads.minetest.org/linux-minetest-kit.zip"
fi
#if [ "@$DL_SRC_NAME" = "@" ]; then
DL_SRC_NAME=linux-minetest-kit.zip
#fi

good_repo_flag_name="mtcompile-program.pl"
repo_build_assumptions_cmd="/opt/install-minetest-build-deps.sh"
repo_build_libs_cmd="bash -e ./mtcompile-libraries.sh build"
repo_build_cmd="./mtcompile-program.pl --build --classic --client"
contained_good_repo_flag_path="$contained_repo/$good_repo_flag_name"

run_all_build_commands_script=/opt/build-lmk.sh
echo "lmk.rc finished loading."
