#!/bin/bash
contained_repos=/opt
docker_image_build_script_name="lmk.devuan-chimaera.sh"
contained_arc="$contained_repos/linux-minetest-kit.zip"
# ^ This must always be in sync with "COPY linux-minetest-kit.zip /opt" in Dockerfile
contained_repo=$contained_repos/linux-minetest-kit
contained_user=minebest
# ^ must match the useradd command in Dockerfile
contained_home=/home/$contained_user
# client_bin_path=/opt/linux-minetest-kit/minetest/bin/minetest
server_bin_path=/opt/linux-minetest-kit/finetest/bin/minetestserver
if [ "@$SRC_URL" = "@" ]; then
    SRC_URL="https://downloads.minetest.org/linux-minetest-kit.zip"
fi
#if [ "@$DL_SRC_NAME" = "@" ]; then
DL_SRC_NAME=linux-minetest-kit.zip
#fi

good_repo_flag_name="mtcompile-program.pl"
repo_build_assumptions_cmd="/opt/install-minetest-build-deps.sh"
# repo_build_libs_cmd="bash -e ./mtcompile-libraries.sh build"
# ^ moved to the Dockerfile for the libraries image
# repo_build_cmd="./mtcompile-program.pl --build --classic --client"
repo_build_cmd="./mtcompile-program.pl --build --finetest --server"
contained_good_repo_flag_path="$contained_repo/$good_repo_flag_name"

run_all_build_commands_script=/opt/build-lmk.sh
echo "lmk.rc finished loading."
