<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">

    <div class="navbar-header">
        <a class="navbar-brand" href="#">
            <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
            EnlivenMinetest
        </a>

        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/skin-upload-form">Upload Skin</a></li>
            <li><a href="/skin-selection-form">Choose Skin</a></li>
        </ul>
    </div>

</div>
</nav>
